/* Reset styles and base font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: large;
}

.hide {
  display: none;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #BBE9FF;
}

.header{
  height:5%;
  width:100%
}

.company-logo {
  height: 100%;
}

.question-container {
  width: 80%;
  max-width: 1200px; /* Adjust maximum width as needed */
  margin-top: 20px;
  background-color: #95b8d1;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Light shadow */
  text-align: center;
  position: relative;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center; /* Center items horizontally */
  flex-direction: row; /* Default to row for larger screens */
  position: relative;
}

.left-container {
  width: 40%;
  padding: 20px; /* Adjust padding as needed */
  box-sizing: border-box;
}

.question {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-color: transparent; /* Light teal */
  border-radius: 8px;
  padding: 20px;
  
  z-index: 1; /* Ensure it appears above other elements */
  width: 45%; /* Full width for responsiveness */
  max-width: 500px; /* Adjust maximum width */
  font-size: 1rem;
}

.question-numbers * {
  margin: 0.09rem 0.2rem;
  padding: 0.5rem 1rem !important;
  border-radius: 0.5rem !important;
}

.options {
  display: grid;
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  border-radius: 50px;
  cursor: pointer;
  padding: 15px 30px;
  background-color: #fff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  color: #121212;
  outline: none;
  text-decoration: none;
  transition: box-shadow 0.2s;
  border: 0;
  margin: 4px;
}

.btn:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.btn.current {
  background-color: #FFBA41;
  color: white;
}

.start-btn,
.next-btn {
  padding: 1em 2em;
  color: white;
  background: linear-gradient(
    0deg,
    rgba(20, 167, 62, 1) 0%,
    rgba(102, 247, 113, 1) 100%
  );
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
}

.start-btn:hover,
.next-btn:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.start-btn:active,
.next-btn:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.feedback {
  color: #121212;
  font-size: larger;
}

.right-container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.right-container img {
  max-width: 100%;
  height: auto;
  height: 400px;
  border-radius: 8px;
}

.correct-bg {
  background-color: #B0EBB4;
}

.wrong-bg {
  background-color: #D37676;
}

/* Responsive styles for tablets and mobile devices */
@media (max-width: 768px) {
  .content {
    flex-direction: column; /* Stack vertically on smaller screens */
  }

  .left-container,
  .right-container {
    width: 100%; /* Full width on smaller screens */
  }

  .right-container {
    padding-bottom: 4rem;
  }

  .question {
    width: 90%; /* Adjust width on smaller screens */
    max-width: 65%; /* Ensure it fits within the container */
    top: 27%;
    left: 50%;
  }
}

/* Responsive styles for mobile devices */
@media (max-width: 480px) {
  .content {
    flex-direction: column; /* Stack vertically on smaller screens */
  }

  .company-logo{
    height: 50%;
  }

  .question-container {
    width: 95%; /* Increase width on very small screens */
  }

  .question {
    width: 100%; /* Full width on very small screens */
    padding: 10px; /* Adjust padding for small screens */
    font-size: 0.7rem;
  }

  .btn {
    padding: 10px 20px; /* Adjust button size for small screens */
  }
}
